.header{
	padding: 25px 0 25px 50px;
	border-bottom: solid 10px #D32027;
	background: linear-gradient(45deg, white,white, #0759A7);
	}
	
#colorLogo{
	height: 50px;
}

.info{
	margin-top: 130px;
	background-color: #c5c5c5;
	padding: 20px 20px 20px 20px;
	}


.footer{
	background-color: #D32027;
	height:40px;
	position:absolute;
	bottom: 0;
}

